<div class="container-fluid">

    <div class="row">
        <h2 class="col-lg-6">{{model.details.Title}}</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">Director : <strong>{{model.details.Director}}</strong></div>
        <b><div class="col-sm-4">IMDB Rating : {{model.details.imdbRating}}</div></b>
        <b><div class="col-sm-4">Rotten Tomato Rating : {{model.details.tomatoRating}}</div></b>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <img ng-src="{{model.details.Poster}}" class="pull-left col-lg-2 movie-poster"/>
        <div class="col-lg-8">
            <h3>Plot</h3>
            <p>
                {{model.details.Plot}}
            </p><br>
            <h3>Actors</h3>
            <ul>
                <li ng-repeat="actorName in model.details.Actors.split(',')">
                    {{actorName}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<div ng-hide="model.liked">
    <a ng-click="likeMovie()">Bookmark This</a>
</div>

<div ng-show="model.liked">
    <a ng-click="removeLikeMovie()">Remove Bookmark</a>
</div>

<div ng-show="model.trailer">
    <br>
    <h2>Trailer : </h2><br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe ng-src="{{model.trailer | trusted}}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div>
    <label>Comment:</label><br>
    <textarea rows="2">

    </textarea><br>
    <button>Save</button><button>Cancel</button>
</div>

<div ng-show="model.comments">
    <h2>Comments : </h2><br>
    <table>
        <tr ng-repeat="comment in model.comments">
            <td>
                {{comment.username}}<br>
                {{comment.comment}}
            </td>
        </tr>
    </table>
</div>