<div class="container-fluid">
    <div class="row">
        <h2 class="col-sm-offset-1 col-sm-11">{{model.details.Title}} ({{model.details.Year}})</h2>
    </div>
</div>
<br>
<div class="container-fluid">
    <img ng-src="{{model.details.Poster}}" class="pull-left col-xs-12 col-sm-3 col-sm-offset-1 movie-poster"/>
    <div class="col-sm-6 col-xs-12">
        <br>
        <div class="row">
            <div class="col-sm-10 col-xs-12">Director : <strong>{{model.details.Director}}</strong></div>
            <div ng-show="model.user" class="col-sm-2 col-xs-12 like-button">
                <br>
                <button ng-show="model.liked" class="btn btn-danger btn-like"
                        ng-click="model.removeLikeMovie()" title="Unlike">
                    <span class="fa fa-thumbs-up like-color-white"></span>
                </button>

                <button ng-hide="model.liked" class="btn btn-secondary btn-like"
                        ng-click="model.likeMovie()" title="Like">
                    <span class="fa fa-thumbs-up like-color-red"></span>
                </button>
            </div>
        </div>
        <br>
        <b><div>Released On : {{model.details.Released}}</div></b><br>
        <b><div>IMDB Rating : {{model.details.imdbRating}}</div></b><br>
        <b><div>Rotten Tomato Rating : {{model.details.tomatoRating}}</div></b>
    </div>
    <div class="col-sm-6 col-xs-12 include-view">
        <h2>Plot</h2>
        <p>
            {{model.details.Plot}}
        </p><br>
        <h3>Actors</h3>
        <ul class="custom-list">
            <li class="custom-ul" ng-repeat="actorName in model.details.Actors.split(',')">
                {{actorName}}
            </li>
        </ul>
        <br>
        <h3>Rotten Tomato Consensus:</h3>
        <p>
            {{model.details.tomatoConsensus}}
        </p>

        <div ng-show="model.trailer">
            <br>
            <h2 class="trailer-div">Trailer : </h2><br>
            <div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe ng-src="{{model.trailer | trusted}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div ng-show="model.user">
            <div ng-show="model.isNewComment">
                <button ng-hide="model.commentFlag" class="btn btn-primary a-btn comment-div" ng-click="model.commentFlag = !model.commentFlag">Add Comment</button>
            </div>
            <div ng-show="!model.isNewComment">
                <button ng-hide="model.commentFlag" class="btn btn-primary a-btn comment-div" ng-click="model.commentFlag = !model.commentFlag">Update Comment</button>
            </div>
        </div>

        <div ng-show="model.commentFlag">
            <br>
            <label for="userComment">Comment:</label><br>
    <textarea id="userComment"class="form-control" value="" rows="4" ng-model="model.userComment">
    </textarea><br>
            <button ng-show="model.isNewComment" class="btn btn-primary a-btn" ng-click="model.updateComment()">Save</button>
            <button ng-show="!model.isNewComment" class="btn btn-primary a-btn" ng-click="model.updateComment()">Update</button>
            <button class="btn btn-danger a-btn" ng-click="model.commentFlag = !model.commentFlag">Cancel</button>
        </div>

        <div>
            <h3 class="comment-div">User that liked the movie : </h3>
            <h4 ng-hide="model.likes">None!</h4>
            <div ng-show="model.likes" ng-repeat="like in model.likes">
                <a href="#/profile/{{like.userID}}">{{like.username}}</a>
            </div>
        </div>

        <div class="chat">
            <h3 class="comment-div">Comments : </h3>
            <h4 ng-hide="model.comments">None!</h4>

            <div ng-show="model.comments">
                <div class="bubble me col-xs-11" ng-repeat="comment in model.comments">
                    <a href="#/profile/{{comment.userID}}">{{comment.username}} : </a> {{comment.comment}}
                </div>
            </div>
        </div>
    </div>
</div>