<div class="col-xs-offset-1 col-xs-10 container-fluid" ng-controller="AdminController">
    <div class="row">

        <div class="text-center color-elements">
            <h1>Admin</h1>
        </div>
        <div class="text-center color-elements">
            <h3>Users</h3>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-condensed">

                <tr>
                    <th class="th-admin">
                        Username
                    </th>

                    <th class="th-admin">
                        </a>
                        Password
                    </th>
                    <th class="th-admin">
                        </a>
                        First Name
                    </th>
                    <th class="th-admin">
                        </a>
                        Last Name
                    </th>
                    <th class="th-admin">
                        Role
                    </th>
                    <th class="th-admin">
                        Action
                    </th>
                </tr>

                <tr>
                    <td> <input ng-disabled="model.selectedUser" type="text" placeholder="Username" class="form-control" ng-model="model.selected.username"></td>
                    <td> <input ng-disabled="model.selectedUser" type="password" placeholder="Password" class="form-control" ng-model="model.selected.password"></td>
                    <td> <input type="text" placeholder="First Name" class="form-control" ng-model="model.selected.firstname"></td>
                    <td> <input type="text" placeholder="Last Name" class="form-control" ng-model="model.selected.lastname"></td>
                    <td> <input type="text" placeholder="role1,role2" class="form-control" ng-model="model.selected.roles"></td>
                    <td class="text-nowrap">
                        <button type="button" class="btn btn-success" ng-click="model.updateUser(model.selected)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button></td>
                </tr>

                <tr ng-repeat="user in model.users">
                    <td>{{user.username}}</td>
                    <td>&nbsp;</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.roles.join()}}</td>
                    <td class="text-nowrap">
                        <button type="button" class="btn btn-danger add-right-pad" ng-click='model.deleteUser(user._id)'>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-info add-right-pad" ng-click='model.selectUser(user)'>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>