<div class="include-view">
    <div class="row">
        <div class="text-center color-elements">
            <h2>Profile</h2>
            <div ng-hide="model.readonly">
                <a ng-hide="model.edit" class="btn btn-primary btn-noborder-radius" ng-click="model.toggleEdit()">Edit Profile</a>
            </div>
            <div ng-hide="model.self" ng-show="!model.followed">
                <a ng-hide="model.edit" class="btn btn-primary btn-noborder-radius" ng-click="model.followUser()">Follow</a>
            </div>
            <div ng-hide="model.self" ng-show="model.followed">
                <a ng-hide="model.edit" class="btn btn-primary btn-noborder-radius" ng-click="model.unfollowUser()">Unfollow</a>
            </div>
            <h5>{{model.message}}</h5>
        </div>
    </div>

    <form ng-hide="model.edit" class="form-horizontal col-xs-offset-1 col-xs-10">
        <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10"></div>
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">Username</label>
            <div class="col-sm-10 col-lg-4">
                <label class="form-control profile-label">{{model.username}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">First Name</label>
            <div class="col-sm-10 col-lg-4">
                <label class="form-control profile-label">{{model.firstname}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">First Name</label>
            <div class="col-sm-10 col-lg-4">
                <label class="form-control profile-label">{{model.lastname}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">First Name</label>
            <div class="col-sm-10 col-lg-4">
                <label class="form-control profile-label">{{model.email}}</label>
            </div>
        </div>
    </form>

    <form ng-show="model.edit" class="form-horizontal col-xs-offset-1 col-xs-10">
        <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10"></div>
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">Username</label>
            <div class="col-sm-10 col-lg-4">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="model.username" disabled title="Can't update username!">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">Password</label>
            <div class="col-sm-10 col-lg-4">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="model.password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">First Name</label>
            <div class="col-sm-10 col-lg-4">
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model="model.firstname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">First Name</label>
            <div class="col-sm-10 col-lg-4">
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="model.lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 col-lg-offset-3 col-lg-1 control-label">Email</label>
            <div class="col-sm-10 col-lg-4">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="model.email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-5 col-xs-offset-1 col-xs-4 col-sm-2 col-md-2 col-lg-2 footer-div">
                <button ng-show="model.edit" type="submit" class="btn btn-md btn-custom btn-noborder-radius" ng-click="model.update()">Update</button>
            </div>
            <div class="col-sm-5 col-lg-2 col-xs-4 col-sm-2 col-md-2 footer-div">
                <button ng-show="model.edit" type="submit" class="btn btn-md btn-custom btn-noborder-radius" ng-click="model.toggleEdit()">Cancel</button>
            </div>
        </div>
    </form>

    <div class="col-xs-offset-0 col-xs-9 col-sm-offset-1 col-sm-6 col-lg-offset-2 col-lg-7">
        <h3>Movies Reacted On!</h3>
        <h4 ng-hide="model.movies">None!</h4>
        <table ng-show="model.movies" class="table table-noborder table-responsive">
            <thead>
            <th>Poster</th>
            <th>Title</th>
            <th class="hidden-xs hidden-sm">Comment</th>
            <th ng-show="model.self" class="hidden-xs">Action</th>
            </thead>
            <tr ng-repeat="movie in model.movies">
                <td><img class="profile-poster" ng-src="{{movie.poster}}"/></td>
                <td>
                    <a class="txt-no-wrap" href="#/details/{{movie.imdbID}}">{{movie.movieTitle}}</a>
                    <br>
                    <br>
                    <label ng-show="movie.comment" class="bookmark-cmnt-lbl visible-xs">Comment: {{movie.comment}}</label>
                    <div class="col-xs-offset-3 txt-no-wrap visible-xs">
                        <br>
                        <button ng-show="movie.isLiked" class="btn btn-danger btn-like"
                                ng-click="model.removeLikeMovie(movie)" title="Unlike">
                            <span class="fa fa-thumbs-up like-color-white"></span>
                        </button>

                        <button ng-hide="movie.isLiked" class="btn btn-secondary btn-like"
                                ng-click="model.likeMovie(movie)" title="Like">
                            <span class="fa fa-thumbs-up like-color-red"></span>
                        </button>

                        <a ng-click="model.removeMovieActivity(movie)" class="btn btn-danger a-btn">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
                <td class="hidden-xs hidden-sm"><label class="bookmark-cmnt-lbl">{{movie.comment}}</label></td>
                <td ng-show="model.self" class="hidden-xs">
                    <div class="txt-no-wrap">

                        <button ng-show="movie.isLiked" class="btn btn-danger btn-like"
                                ng-click="model.removeLikeMovie(movie)" title="Unlike">
                            <span class="fa fa-thumbs-up like-color-white"></span>
                        </button>

                        <button ng-hide="movie.isLiked" class="btn btn-secondary btn-like"
                                ng-click="model.likeMovie(movie)" title="Like">
                            <span class="fa fa-thumbs-up like-color-red"></span>
                        </button>

                        <a ng-click="model.removeMovieActivity(movie)" class="btn btn-danger a-btn">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-offset-0 col-xs-9 col-sm-offset-1 col-sm-6 col-lg-offset-2 col-lg-7">
        <h3>Following : </h3>
        <h4 ng-hide="model.following">None!</h4>
        <table class="table table-noborder table-responsive rounded-table" ng-show="model.following">
            <tr ng-repeat="user in model.following">
                <td class="table-noborder"><a href="#/profile/{{user.following_id}}">{{user.following_username}}</a></td>
            </tr>
        </table>
    </div>
    <div class="col-xs-offset-0 col-xs-9 col-sm-offset-1 col-sm-6 col-lg-offset-2 col-lg-7 include-view">
        <h3>Followers : </h3>
        <h4 ng-hide="model.followers">None!</h4>
        <table class="table table-noborder table-responsive rounded-table" ng-show="model.followers">
            <tr ng-repeat="user in model.followers">
                <td class="table-noborder"><a href="#/profile/{{user.follower_id}}">{{user.follower_username}}</a></td>
            </tr>
        </table>
    </div>
</div>