<div class="container-fluid">

    <h2 class="col-sm-12">{{model.details.Title}}</h2>
    <div class="row">
        <div class="col-sm-4">Director : <strong>{{model.details.Director}}</strong></div>
        <b><div class="col-sm-4">IMDB Rating : {{model.details.imdbRating}}</div></b>
        <b><div class="col-sm-4">Rotten Tomato Rating : {{model.details.tomatoRating}}</div></b>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <img ng-src="{{model.details.Poster}}" height="300px" class="pull-left col-sm-3"/>
        <div class="col-sm-9">
            <h3>Plot</h3>
            <p>
                {{model.details.Plot}}
            </p><br>
            <h3>Actors</h3>
            <ul>
                <li ng-repeat="actorName in model.details.Actors.split(',')">
                    {{actorName}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<h2>Trailer : </h2><br>

<iframe ng-src="{{model.trailer | trusted}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>