.custom-alert-red{
    color:red;
    font-size: large;
    padding-bottom: 15px
}

.custom-alert-green{
    color: green;
    font-size: large;
    padding-bottom: 15px
}
.th-admin{
    white-space: nowrap;
    background-color: gray;
}
.control-label{
    white-space: nowrap;
}