.custom-alert-red{
    color:red;
    font-size: large;
    padding-bottom: 15px
}

.custom-alert-green{
    color: green;
    font-size: large;
    padding-bottom: 15px
}

.carousel-caption-white{
    color:#2e6da4;
}

.botton-margin-10{
    margin-bottom: 10px;
}

.custom-blockquote{
    background-color: rgba(216, 215, 213, 0.30)
}

.movie-poster{
    height : 300px;
}

.navbar-custom{
    background-color: #3B4C6B;
}
.navbar-text{
    color:#F0FFFF;
}
.borderless td, .borderless th {
    border: none;
}