.navbar-custom{
    background-color: #1B7B98!important;
    color: white!important
}


a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

.navbar-right {
    background-color: #1B7B98;
    padding:0 0 0 0;
    opacity: .9
}

.navbar-right li a {
    font-size: 22px;
    color: white!important;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
    font-weight: 300;
}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
    background-color: #fff!important;
    color: #1B7B98!important;
}

.btn-primary {
    color: #ffffff;
    background-color: #1B7B98!important;
    border-color: #285e8e;
    border-radius: 15px!important;
}
.btn-primary:hover {
    background-color: #13556C!important;
}

input{
    border-radius: 15px!important;
}