<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="main">
            <h1>Forms</h1>

            <ul class="nav nav-tabs">
                <li role="presentation"><a class="tabText" href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a class="tabText" href="#">Fields</a></li>
            </ul>

            <div class="container-fluid">
                <div ng-repeat="field in model.existingFields" class="row topForm">
                    <div class="col-xs-5">
                        <form>
                            <div class="form-group">
                                <label>{{field.label}}</label>

                                <div ng-switch on="field.type">
                                    <input class="form-control" ng-switch-when="TEXT" type="text" placeholder={{field.placeholder}}>
                                    <textarea class="form-control" ng-switch-when="TEXTAREA" class="form-control" rows="3" placeholder={{field.placeholder}}></textarea>
                                    <input class="form-control" ng-switch-when="DATE" type="date">
                                    <input class="form-control" ng-switch-when="EMAIL" type="email" placeholder={{field.placeholder}}>
                                    <select ng-switch-when="OPTIONS">
                                        <option ng-repeat="option in field.options">{{option.label}}</option>
                                    </select>
                                    <div class="checkbox" ng-switch-when="CHECKBOXES">
                                        <label ng-repeat="option in field.options">
                                            <input type="checkbox" value="{{option.value}}">
                                            {{option.label}}
                                        </label>
                                    </div>
                                    <div class="radio" ng-switch-when="RADIO">
                                        <label ng-repeat="option in field.options">
                                            <input type="radio">
                                            {{option.label}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-5">
                        <br>
                        <button ng-click="model.editField(field)" data-toggle="modal" href="#" class="btn btn-danger add-right-pad glyphicon glyphicon-pencil" data-target="#myEdit"></button>

                        <button ng-click="model.removeField(field)" href="#" class="btn btn-info add-left-pad glyphicon glyphicon-remove"></button>
                    </div>
                </div>


                <div id="myEdit" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{model.selectedField.type}}</h4>
                            </div>
                            <div class="modal-body">
                                <div ng-switch on="model.selectedField.type"> 
                                    <div ng-switch-when="TEXT">
                                        <form>
                                            <label>Label</label>
                                            <input type="TEXT" class="form-control" ng-model="model.selectedField.label"><br>
                                            <label>Placeholder</label>
                                            <input type="text" class="form-control" ng-model="model.selectedField.placeholder"> 
                                        </form>
                                    </div>

                                    <div ng-switch-when="TEXTAREA">
                                        <form>
                                            <label>Label</label>
                                            <input class="form-control" type="text" ng-model="model.selectedField.label" ><br>
                                            <label>Placeholder</label>
                                            <textarea class="form-control" rows="3" ng-model="model.selectedField.placeholder"></textarea>
                                        </form>
                                    </div>

                                    <div ng-switch-when="DATE">
                                        <form>
                                            <label>Label</label>
                                            <input class="form-control" type="text" ng-model="model.selectedField.label"> 
                                        </form>
                                    </div>


                                    <div ng-switch-when="DATE">
                                        <form>
                                            <label>Label</label>
                                            <input class="form-control" type="text" ng-model="model.selectedField.label">
                                            <label>Options</label>
                                            <select ng-switch-when="OPTIONS"> 
                                                <option ng-repeat="option in model.selectedField.options">
                                                    {{model.selectedField.label}}
                                                </option> 
                                            </select> 
                                        </form>
                                    </div>

                                    <div ng-switch-when="CHECKBOXES">
                                        <form>
                                            <label>Label</label>
                                            <input class="form-control" type="text" ng-model="model.selectedField.label">
                                            <div class="checkbox"> 
                                                <label ng-repeat="option in model.selectedField.options"> 
                                                    <input type="checkbox" value="{{option.value}} "> 
                                                    {{option.label}} 
                                                </label> 
                                            </div>
                                        </form>
                                    </div> 


                                    <div ng-switch-when="RADIO">
                                        <form>
                                            <label>Label</label>
                                            <input class="form-control" type="text" ng-model="model.selectedField.label">
                                            <div class="radio"> 
                                                <label ng-repeat="option in model.selectedField.options"> 
                                                    <input type="radio"> 
                                                    {{option.label}} 
                                                </label> 
                                            </div>
                                        </form>
                                    </div>

                                    <div>
                                        <button class="btn btn-default" ng-click="model.okayField(model.selectedField)" data-dismiss="modal">Confirm</button>
                                    </div> 
                                </div> 

                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-7">
                        <form>
                            <div class="form-group">
                                <label for="newForm">Add New Field:</label>
                                <select ng-model="model.fieldType" class="form-control" id="newForm">
                                    <option>Single Line Text Field</option>
                                    <option>Multi Line Text Field</option>
                                    <option>Date Field</option>
                                    <option>Dropdown Field</option>
                                    <option>Checkboxes Field</option>
                                    <option>Radio Buttons Field</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-5">
                        <br>
                        <button ng-click="model.addField(model.fieldType)" href="#" class="btn btn-primary glyphicon glyphicon-plus"></button>
                    </div>
                </div>

            </div> <!-- End of container -->

        </div> <!-- End of main -->
    </div> <!-- End of row-fluid-->
</div> <!-- End of container-fluid -->
</body>
</html>