<div>
    <h1>Admin</h1>
    <h3>Users</h3>
</div>
<table class="table table-striped">
    <tr>
        <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"/></a><b>Username</b></th>
        <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"/></a><b>Password</b></th>
        <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"/></a><b>Role</b></th>
        <th><a href="#"><span class="glyphicon glyphicon-triangle-bottom"/></a><b>Action</b></th>
    </tr>
    <tr>
        <td><input type="text" class="form-control" id="inputUsername" placeholder="username"></td>
        <td><input type="text" class="form-control" id="inputPassword" placeholder="password"></td>
        <td><input type="text" class="form-control" id="inputRole" placeholder="role1, role2"></td>
        <td class="nowrap-button">
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"/></a>
            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-ok"/></a>
        </td>
    </tr>
    <tr>
        <td>alice</td>
        <td></td>
        <td>student</td>
        <td class="nowrap-button">
            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"/></a>
            <a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"/></a>
        </td>
    </tr>
    <tr>
        <td>bob</td>
        <td></td>
        <td>faculty | admin</td>
        <td class="nowrap-button">
            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"/></a>
            <a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"/></a>
        </td>
    </tr>
    <tr>
        <td>charlie</td>
        <td></td>
        <td></td>
        <td class="nowrap-button">
            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"/></a>
            <a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"/></a>
        </td>
    </tr>
</table>