<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="brand-before">
            <small>Welcome to</small>
        </h2>
        <h1 class="brand-name">TheFilmDB</h1>
        <h2>
            <small>By
                <strong>Amit Narkhede</strong>
            </small>
        </h2>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive img-full" src="img/interstellar.jpg" alt="interstellar">
                    <div class="carousel-caption hidden-md-down">
                        <h3>Interstellar</h3>
                        <p>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive img-full" src="img/inside-out.jpg" alt="insideout">
                    <div class="carousel-caption hidden-md-down">
                        <h3 class="carousel-caption-white">Inside-Out</h3>
                        <p class="carousel-caption-white">Growing up can be a bumpy road, and it's no exception for Riley.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive img-full" src="img/godfather.jpg" alt="godfather">
                    <div class="carousel-caption hidden-md-down">
                        <h3>Godfather</h3>
                        <p>Great men are not born great, they grow great...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row col-lg-12">
    <blockquote class="custom-blockquote">
        <p class="text-justify lead">

            Taking a movie break from our busy life is a common tradition amongst most of us and having a reliable single source of information is important part of the same.
            What a normal user would do is go to google to search a movie to be watched.
            But I would like to build a solution to users which will build a single website that can act as source of new movies and recommend movies that they might enjoy based on their history of bookmarking activity on the site.
            There can be two kind of users that can use the site viz. registered users and non-registered users.
            Unregistered users can only search for movies and read through the comments that have been posted by registered users.
            A registered user can bookmark the movie that they liked/would like to watch along with the basic search functionality.
            They can also provide a short review which can help other users on making a decision on watching the movie.
            They will also get recommendations from site on the movies that they may like based on the history that they have created by comments and bookmarking.
        </p>
    </blockquote>
</div>
