<!--
<div class="row col-lg-12">
    <blockquote class="custom-blockquote">
        <p class="text-justify lead">

            Taking a movie break from our busy life is a common tradition amongst most of us and having a reliable single source of information is important part of the same.
            What a normal user would do is go to google to search a movie to be watched.
            But I would like to build a solution to users which will build a single website that can act as source of new movies and recommend movies that they might enjoy based on their history of bookmarking activity on the site.
            There can be two kind of users that can use the site viz. registered users and non-registered users.
            Unregistered users can only search for movies and read through the comments that have been posted by registered users.
            A registered user can bookmark the movie that they liked/would like to watch along with the basic search functionality.
            They can also provide a short review which can help other users on making a decision on watching the movie.
            They will also get recommendations from site on the movies that they may like based on the history that they have created by comments and bookmarking.
        </p>
    </blockquote>
</div>
!-->

<div class="wrapper">
    <div id="carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item slider-size active">
                        <img class="carousel-img" src="img/batman-vs-superman.jpg" alt="Awesome Image">
                    </div>
                    <div class="item slider-size">
                        <img class="carousel-img" src="img/interstellar.jpg" alt="Awesome Image">
                    </div>
                    <div class="item slider-size">
                        <img class="carousel-img" src="img/inside-out.jpg" alt="Awesome Image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="text-center">
                    <h2>About Us</h2>
                    <img class="img-responsive displayed" src="img/short.png" alt="Company about"/>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Taking a movie break from our busy life is a common tradition amongst most of us and having a reliable single source of information is important part of the same.
                                What a normal user would do is go to google to search a movie to be watched.
                                But I would like to build a solution to users which will build a single website that can act as source of new movies and recommend movies that they might enjoy based on their history of bookmarking activity on the site.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="follow-us">
    <div class="container">
        <div class="text-center height-contact-element">
            <h2>FOLLOW US</h2>
        </div>
        <img class="img-responsive displayed" src="img/short.png" alt="short" />
        <div class="text-center height-contact-element">
                <ul class="list-unstyled list-inline list-social-icons">
                <li class="active"><a href="#"><i class="fa fa-facebook social-icons"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter social-icons"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus social-icons"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin social-icons"></i></a></li>
            </ul>
        </div>
    </div>
</section>
